body{
    margin: 20;
    padding: 20;
    background: #f4f6f9;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-image: url(tela-de-fundo2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.card-img {
    width: 100%;
    height: 220px;
    object-fit: cover; 
}
.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: black;
}
.card-name{
    padding-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    font-size: 30px;
    text-align: center;
    margin: 0;
    color:black
}
.card-description{
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    font-size: 20px;
    color:black
}
.card-button{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 95px;
    padding-right:89px ;
    font-size: 34px;
    background-color:whitesmoke;
    color: black
}

